<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794693635432-2pshtl2471h1smg50i7smk40i6pdf8t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794693635432-2pshtl2471h1smg50i7smk40i6pdf8t7</string>
	<key>API_KEY</key>
	<string>AIzaSyCfOrO2rygpGhAuxEIxnDGiB6jO2lXug5A</string>
	<key>GCM_SENDER_ID</key>
	<string>794693635432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dheer.FamTracker</string>
	<key>PROJECT_ID</key>
	<string>famtracker-350810</string>
	<key>STORAGE_BUCKET</key>
	<string>famtracker-350810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794693635432:ios:e1c8117fd8ce1a46eb1add</string>
</dict>
</plist>